---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="max-w-4xl mx-auto px-4 py-12">
		<h1 class="text-4xl font-bold mb-6 tracking-tight">About Me</h1>
		<div class="prose prose-lg dark:prose-invert">
			<p class="text-lg text-muted-foreground">
				Hello! I'm Daro, a developer passionate about building fast, accessible, and secured application to solve business problem.
			</p>
		</div>
	</div>
</Layout>
